﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Standard.master.cs" Inherits="PCLS.WebPC.MasterPage.Standard" %>

<%@ Register Src="~/UserControl/SuccessModal.ascx" TagPrefix="uc1" TagName="Success" %>
<%@ Register Src="~/UserControl/ErrorModal.ascx" TagPrefix="uc2" TagName="Error" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>PTT</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8; IE=9; IE=11" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="shortcut icon" href="../../Icons/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="../../Icons/favicon.ico" type="image/x-icon"/>

    <!-- jQuery 2.2.3 -->
    <script src="../../plugins/jQuery/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap 3.3.6 -->
    <script src="../../bootstrap/js/bootstrap.min.js"></script>

    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../FontAwesome/css/font-awesome.min.css" />

    <!-- Ionicons -->
    <link rel="stylesheet" href="../../Ionicons/css/ionicons.min.css" />

    <!-- DataTables -->
    <link rel="stylesheet" href="../../plugins/datatables/dataTables.bootstrap.css" />

    <!-- DataTables Responsive -->
    <link rel="stylesheet" href="../../plugins/datatables/extensions/Responsive/css/dataTables.responsive.css" />

    <!-- DataTables Tools -->
    <link rel="stylesheet" href="../../plugins/datatables/extensions/TableTools/css/dataTables.tableTools.min.css" />

    <!-- daterange picker -->
    <link rel="stylesheet" href="../../plugins/daterangepicker/daterangepicker.css" />

    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="../../plugins/datepicker/datepicker3.css" />

    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="../../plugins/iCheck/all.css" />

    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="../../plugins/colorpicker/bootstrap-colorpicker.min.css" />

    <!-- Bootstrap time Picker -->
    <link rel="stylesheet" href="../../plugins/timepicker/bootstrap-timepicker.min.css" />

    <!-- Select2 -->
    <link rel="stylesheet" href="../../plugins/select2/select2.min.css" />

    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/AdminLTE.css" />

    <!-- AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css" />

    <%--BootStrap Editor Start--%>
    <script src="../../plugins/Editor/editor.js"></script>
    <link href="../../plugins/Editor/editor.css" type="text/css" rel="stylesheet" />
    <%--BootStrap Editor End--%>

    <style>
        .pagination-ys table > tbody > tr > td {
            display: inline;
            border: 0px;
        }

        .pagination-ys table > tbody > tr > td > a,
        .pagination-ys table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 8px 12px;
            line-height: 1.42857143;
            text-decoration: none;
            color: #dd4814;
            background-color: #ffffff;
            border: 1px solid #dddddd;
            margin-left: -1px;
        }

        .pagination-ys table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 8px 12px;
            line-height: 1.42857143;
            text-decoration: none;
            margin-left: -1px;
            z-index: 2;
            color: #aea79f;
            background-color: #f5f5f5;
            border-color: #dddddd;
            cursor: default;
        }

        .pagination-ys table > tbody > tr > td:first-child > a,
        .pagination-ys table > tbody > tr > td:first-child > span {
            margin-left: 0;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }

        .pagination-ys table > tbody > tr > td:last-child > a,
        .pagination-ys table > tbody > tr > td:last-child > span {
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
        }

        .pagination-ys table > tbody > tr > td > a:hover,
        .pagination-ys table > tbody > tr > td > span:hover,
        .pagination-ys table > tbody > tr > td > a:focus,
        .pagination-ys table > tbody > tr > td > span:focus {
            color: #97310e;
            background-color: #eeeeee;
            border-color: #dddddd;
        }
        .color-palette {
            height: 35px;
            line-height: 35px;
            text-align: center;
        }

        .color-palette-set {
            margin-bottom: 15px;
        }

        .color-palette span {
            display: none;
            font-size: 12px;
        }

        .color-palette:hover span {
            display: block;
        }

        .color-palette-box h4 {
            position: absolute;
            top: 100%;
            left: 25px;
            margin-top: -40px;
            color: rgba(255, 255, 255, 0.8);
            font-size: 12px;
            display: block;
            z-index: 7;
        }
        .loadingBG {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10005;
            background-color: #fff;
            border-top: 5px solid #7cb5c9;
            opacity: .85;
        }

        .loadingBG > img {
            width: 100px;
            height: 100px;
            position: fixed;
            top: 50%;
            left: 50%;
            margin-left: -50px;
            margin-top: -50px;
        }
    </style>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<%--<body>
    <form id="form1" runat="server">
    <div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>--%>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="http://www.pttplc.com" class="logo" target="_blank">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>P</b>TT</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Car Leasing Web</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <%--<li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start message -->
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="../../Images/UserProfile/Aura.png" class="img-circle" alt="User Image" />
                                                </div>
                                                <h4>Support Team
                        <small><i class="fa fa-clock-o"></i>5 mins</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <!-- end message -->
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="../../../../dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>AdminLTE Design Team
                        <small><i class="fa fa-clock-o"></i>2 hours</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="../../../../dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>Developers
                        <small><i class="fa fa-clock-o"></i>Today</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="../../../../dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>Sales Department
                        <small><i class="fa fa-clock-o"></i>Yesterday</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="../../../../dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>Reviewers
                        <small><i class="fa fa-clock-o"></i>2 days</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">See All Messages</a></li>
                            </ul>
                        </li>--%>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <!-- 
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-danger">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i>5 new members joined today
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning text-yellow"></i>Very long description here that may not fit into the
                      page and may cause design problems
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-red"></i>5 new members joined
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="fa fa-shopping-cart text-green"></i>25 sales made
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-user text-red"></i>You changed your username
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                            -->
                        <!-- Tasks: style can be found in dropdown.less -->
                        <%--<li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>Design some buttons
                        <small class="pull-right">20%</small>
                                                </h3>
                                                <div class="progress progress-xs">
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>Create a nice theme
                        <small class="pull-right">40%</small>
                                                </h3>
                                                <div class="progress progress-xs">
                                                    <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">40% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>Some task I need to do
                        <small class="pull-right">60%</small>
                                                </h3>
                                                <div class="progress progress-xs">
                                                    <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">60% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>Make beautiful transitions
                        <small class="pull-right">80%</small>
                                                </h3>
                                                <div class="progress progress-xs">
                                                    <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">80% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View all tasks</a>
                                </li>
                            </ul>
                        </li>--%>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img id="imgProfile" runat="server" class="user-image" alt="User Image" src="~/Images/UserProfile/User.png">
                                <span class="hidden-xs"><asp:Label ID="lblLoginName" runat="server">Name Surname</asp:Label></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img id="imgProfile2" runat="server" class="img-circle" alt="User Image" />

                                    <%--<p>
                                        Sakchai Piamsombat - Web Developer
                  <small>Member since Nov. 2012</small>
                                    </p>--%>
                                </li>
                                <!-- Menu Body -->
                                <%--<li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Followers</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Sales</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Friends</a>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>--%>
                                <!-- Menu Footer-->
                                <%--<li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>--%>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <%--<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>--%>
                            <a id="aLogout" runat="server" onserverclick="aLogout_ServerClick"><i class="glyphicon glyphicon-log-out"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img id="imgProfile3" runat="server" class="user-image" alt="User Image" src="~/Images/UserProfile/User.png" width="25" />
                    </div>
                    <div class="pull-left info">
                        <p><asp:Label ID="lblLoginName2" runat="server">Name Surname</asp:Label></p>
                        <a><i class="fa fa-circle text-success"></i>Online</a>
                    </div>
                </div>
                <!-- search form -->
                <%--<form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search..." />
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>--%>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                     <%--<li class="header">SHORTCUT</li>
                     <li runat="server" id="liDashboard"><a href="../../Pages/Transaction/Car.aspx"><i class="fa fa-circle-o text-aqua"></i><span>Car</span></a></li>
                    <li><a href="../../Pages/Transaction/Contract.aspx" runat="server" id="aDriver"><i class="fa fa-circle-o text-fuchsia"></i><span>Contract</span></a></li>
                    <li><a href="../../Pages/Transaction/Insurance.aspx"><i class="fa fa-circle-o text-red"></i><span>Insurance</span></a></li>
                   <li><a href="../../Pages/Master/Customer.aspx"><i class="fa fa-circle-o text-fuchsia"></i><span>Customer</span></a></li>
                    <li><a href="../../Pages/Transaction/Inquiry.aspx"><i class="fa fa-circle-o text-red"></i><span>Inquiry</span></a></li>--%>
                    <%--<li class="header">MAIN NAVIGATION</li>--%>
                    <li class="treeview active" runat="server" id="Li25">
                        <a href="#">
                            <i class="fa fa-car"></i><span>ประวัติรถ</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li runat="server" id="li26"><a href="../../Pages/Master/Car.aspx"><i class="fa fa-circle-o"></i>ประวัติรถ</a></li>
                            <li runat="server" id="li30"><a href="../../Pages/Master/PurchaseCar.aspx"><i class="fa fa-circle-o"></i>ข้อมูลผู้ซื้อรถ</a></li>
                            <li runat="server" id="li31"><a href="../../Pages/Master/Handover.aspx"><i class="fa fa-circle-o"></i>การส่งมอบรถยนต์</a></li>
                            <li runat="server" id="li32"><a href="../../Pages/Master/Possessor.aspx"><i class="fa fa-circle-o"></i>การครอบครองรถยนต์</a></li>
                        </ul>
                    </li>

                    <li class="treeview active" runat="server" id="Li33">
                        <a href="#">
                            <i class="fa fa-support"></i><span>งานทะเบียนรถ</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li runat="server" id="li34"><a href="../../Pages/Transaction/VehicleTax.aspx"><i class="fa fa-circle-o"></i>ภาษีรถยนต์</a></li>
                            <li runat="server" id="li35"><a href="../../Pages/Transaction/Insurance.aspx"><i class="fa fa-circle-o"></i>ประกันภัย</a></li>
                            <li runat="server" id="li8"><a href="../../Pages/Transaction/TrafficTicket.aspx"><i class="fa fa-circle-o"></i>ใบสั่งจราจร</a></li>

                        </ul>
                    </li>
                    <li class="treeview active" runat="server" id="Li36">
                        <a href="#">
                            <i class="fa fa-clone"></i><span>ข้อมูลสัญญา</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li runat="server" id="li37"><a href="../../Pages/Transaction/Contract.aspx"><i class="fa fa-circle-o"></i>ข้อมูลสัญญา</a></li>
                        </ul>
                    </li>

                    <li class="treeview active" runat="server" id="tabTransaction">
                        <a href="#">
                            <i class="fa fa-desktop"></i><span>ประวัติการซ่อม</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <!-- 
                            <li runat="server" id="li5"><a href="../../Pages/Transaction/RepairRequest.aspx"><i class="fa fa-circle-o"></i>ขออนุมัติซ่อม/ขอรถทดแทน</a></li>
                            <li runat="server" id="li18"><a href="../../Pages/Transaction/RepairAllow.aspx"><i class="fa fa-circle-o"></i>อนุมัติซ่อม/ขอรถทดแทน</a></li>
                            <li runat="server" id="li6"><a href="../../Pages/Transaction/ReportLost.aspx"><i class="fa fa-circle-o"></i>แจ้งป้ายภาษี/ป้ายทะเบียนหาย</a></li>
                            <li runat="server" id="li17"><a href="../../Pages/Transaction/BorrowKeyAllow.aspx"><i class="fa fa-circle-o"></i>อนุมัติยืมกุญแจสำรอง</a></li>
                            -->
                            
                            <li runat="server" id="li1"><a href="../../Pages/Transaction/CarService.aspx"><i class="fa fa-circle-o"></i>ประวัติการซ่อม</a></li>
                        </ul>
                    </li>
                    <li class="active"><a href="../../Pages/Reports/Reports.aspx"><i class="fa fa-file-text-o"></i><span>รายงาน</span></a></li>
                    <li class="header">เอกสารของฉัน</li>
                    <li><a href="../../Pages/Transaction/Document.aspx"><i class="fa fa-cogs"></i><span>ยื่นคำร้อง</span></a></li>
                    <li class="treeview active" runat="server" id="tabSystem">
                        <a href="#">
                            <i class="fa fa-book"></i><span>รายการคำร้อง</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li runat="server" id="li3"><a href="../../Pages/Transaction/MyDocument.aspx"><i class="fa fa-file"></i>ทั้งหมด</a></li>
                            <li runat="server" id="liAuthentication"><a href="#"><i class="fa fa-file"></i>ร่าง <span class="pull-right-container">
                                <span class="label label-primary pull-right">4</span>
                            </span></a> </li>
                            <li runat="server" id="liUser"><a href="#"><i class="fa fa-file"></i>ระหว่างอนุมัติ</a></li>
                            <li runat="server" id="liUserGroup"><a href="#"><i class="fa fa-check"></i>เสร็จสิ้น</a></li>
                            <li runat="server" id="li24"><a href="#"><i class="fa fa-undo"></i>เรียกกลับ</a></li>
                        </ul>
                    </li>
                    <li class="header">การตั้งค่าและข้อมูล</li>
                    <li><a href="../../Pages/Master/MenuMasterData.aspx"><i class="fa fa-cogs"></i><span>ข้อมูลตั้งต้น</span></a></li>
                    <li class="treeview" runat="server" id="Li20">
                        <a href="#">
                            <i class="fa fa-database"></i><span>System</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li runat="server" id="li21"><a href="../../Pages/SystemData/Authenticate.aspx"><i class="fa fa-circle-o"></i>Authentication</a></li>
                            <li runat="server" id="li22"><a href="../../Pages/SystemData/User.aspx"><i class="fa fa-circle-o"></i>User</a></li>
                            <li runat="server" id="li23"><a href="../../Pages/SystemData/UserGroup.aspx"><i class="fa fa-circle-o"></i>User Group</a></li>
                        </ul>
                    </li>
                    
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        
        <!-- /.content-wrapper -->

        <form id="form1" runat="server" method="post" enctype="multipart/form-data">
            <asp:ScriptManager ID="sm" runat="server"></asp:ScriptManager>
            <div>
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    <!-- Main content -->
        
                    <!-- /.content -->
                </asp:ContentPlaceHolder>
            </div>

            <asp:UpdatePanel runat="server" ID="UpdatePanel1">
                <ContentTemplate>

                    <uc1:Success runat="server" ID="mpSuccess" IDModel="ModalAlertSuccess" IsButtonTypeSubmit="false" IsOnClick="true" IsShowClose="false" />
                    <uc2:Error runat="server" ID="mpErr" IDModel="ModalAlertFail" IsButtonTypeSubmit="false" IsShowClose="true" IsShowOk="false" TextClose="ตกลง" />

                </ContentTemplate>
            </asp:UpdatePanel>

            <div class='loadingBG'>
                <img src="../../Images/loading-animation.gif" class='loading' />
            </div>

            <div style="display: none;">
                <input type="button" id="buttonsuccess" name="buttonsuccess" data-toggle="modal" data-target='#ModalAlertSuccess' />
                <input type="button" id="buttonfail" name="buttonfail" data-toggle="modal" data-target='#ModalAlertFail' />
            </div>

            
    <!-- ./wrapper -->

    <!-- Select2 -->
    <script src="../../plugins/select2/select2.full.min.js"></script>

    <!-- date-range-picker -->
    <script src="../../plugins/daterangepicker/moment.js"></script>
    <script src="../../plugins/daterangepicker/daterangepicker.js"></script>

    <!-- bootstrap datepicker -->
    <script src="../../plugins/datepicker/bootstrap-datepicker.js"></script>

    <!-- bootstrap color picker -->
    <script src="../../plugins/colorpicker/bootstrap-colorpicker.min.js"></script>

    <!-- bootstrap time picker -->
    <script src="../../plugins/timepicker/bootstrap-timepicker.min.js"></script>

    <!-- SlimScroll 1.3.0 -->
    <script src="../../plugins/slimScroll/jquery.slimscroll.min.js"></script>

    <!-- iCheck 1.0.1 -->
    <script src="../../plugins/iCheck/icheck.min.js"></script>

    <!-- FastClick -->
    <script src="../../plugins/fastclick/fastclick.js"></script>

    <!-- DataTables -->
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables/dataTables.bootstrap.min.js"></script>

    <!-- DataTables Responsive -->
    <script src="../../plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>

    <!-- DataTables Tools -->
    <script src="../../plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>

    <!-- AdminLTE App -->
    <script src="../../dist/js/app.min.js"></script>

    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>

    <!-- InputMask -->
    <script src="../../plugins/input-mask/jquery.inputmask.js"></script>
    <script src="../../plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="../../plugins/input-mask/jquery.inputmask.extensions.js"></script>

            <script type="text/javascript">
                $(function () {
                    $(document).ready(function () {
                        var prm = Sys.WebForms.PageRequestManager.getInstance();
                        prm.add_beginRequest(BeginRequestHandler);
                        prm.add_endRequest(EndRequestHandler);
                        inEndRequestHandler();
                    });
                    function BeginRequestHandler(sender, args) {
                        $('.loadingBG').css('display', 'block');
                    }

                    function EndRequestHandler(sender, args) {
                        $('.loadingBG').css('display', 'none');
                        inEndRequestHandler();

                    }
                    function inEndRequestHandler() {
                        $('.modal').on('show.bs.modal', centerModal);
                        $('.datepicker,.datetimepicker').addClass('form-control');
                        $('.datepicker').attr('placeholder', 'dd/mm/yyyy รูปแบบ ปี ค.ศ.');
                        $('.datetimepicker').attr('placeholder', 'dd/mm/yyyy hh:mm รูปแบบ ปี ค.ศ.');
                        $('.input-group-addon').remove();
                        $('.datepicker,.datetimepicker').each(function (e) {
                            if ($(this).parent().is('.input-group')) {
                                $(this).unwrap();
                            }
                        });
                        $('.datetimepicker').wrap('<div class="input-group datetime" style=""></div>');
                        $('.datepicker').wrap('<div class="input-group date" ></div>');
                        $('.datepicker,.datetimepicker').parent().append('<div class="input-group-addon" style=""><i class="glyphicon glyphicon-calendar"></i></div>');

                        //$('.input-group.datetime').datetimepicker({
                        //    format: "DD/MM/YYYY HH:mm"
                        //});

                        $('.input-group.date').each(function (e) {
                            if (!($(this).find('.datepicker').is(':disabled'))) {
                                $(this).datepicker({
                                    format: "dd/mm/yyyy",
                                    autoclose: true,
                                    clearBtn: true
                                });
                            }

                        });
                        $('.datetimepicker,.datepicker').keypress(function () {
                            return false;
                        });
                        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                            localStorage.setItem('lastTab', $(this).attr('href'));
                        });

                        var lastTab = localStorage.getItem('lastTab');
                        if (lastTab) {
                            $('[href="' + lastTab + '"]').tab('show');
                        }

                        $('.select2').select2();

                        $(".select2").select2();

                        //Datemask dd/mm/yyyy
                        $("#datemask").inputmask("dd/mm/yyyy", { "placeholder": "dd/mm/yyyy" });
                        //Datemask2 mm/dd/yyyy
                        $("#datemask2").inputmask("mm/dd/yyyy", { "placeholder": "mm/dd/yyyy" });
                        //Money Euro
                        $("[data-mask]").inputmask();
                        $(".CARD_NO").inputmask('9-9999-99999-99-9', { "placeholder": "_-____-_____-__-_" });
                        //Date range picker
                        $('#reservation').daterangepicker();
                        //Date range picker with time picker
                        $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' });
                        //Date range as a button
                        $('#daterange-btn').daterangepicker(
                            {
                                ranges: {
                                    'Today': [moment(), moment()],
                                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                                },
                                startDate: moment().subtract(29, 'days'),
                                endDate: moment()
                            },
                            function (start, end) {
                                $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                            }
                        );

                        //Date picker
                        $('#datepicker').datepicker({
                            autoclose: true
                        });

                        //iCheck for checkbox and radio inputs
                        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                            checkboxClass: 'icheckbox_square-blue',
                            radioClass: 'iradio_square-blue'
                        });

                        //iCheck for checkbox and radio inputs
                        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                            checkboxClass: 'icheckbox_square-blue',
                            radioClass: 'iradio_square-blue'
                        });
                        //Red color scheme for iCheck
                        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
                            checkboxClass: 'icheckbox_minimal-red',
                            radioClass: 'iradio_minimal-red'
                        });
                        //Flat red color scheme for iCheck
                        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
                            checkboxClass: 'icheckbox_flat-green',
                            radioClass: 'iradio_flat-green'
                        });

                        //Colorpicker
                        $(".my-colorpicker1").colorpicker();
                        //color picker with addon
                        $(".my-colorpicker2").colorpicker();

                        //Timepicker
                        $(".timepicker").timepicker({
                            showInputs: false
                        });

                        $.AdminLTE.layout.activate();
                    }
                    function centerModal() {
                        $(this).css('display', 'block');
                        var $dialog = $(this).find(".modal-dialog");
                        var offset = (($(window).height() - $dialog.height()) / 2 - $dialog.height() / 2);

                        if (offset > 0) {
                            $dialog.css("margin-top", offset);
                        }
                    }
                });
            </script>

            <script>
                function alertSuccess(title, mag, url) {
                    if (url == null || url == '') {
                        $('#ModalAlertSuccess').find('input').attr('data-dismiss', 'modal');
                        $('#ModalAlertSuccess').find('input').removeAttr('onclick');
                    }
                    else {
                        $('#mpSuccess_hidUrl').val(url);
                        $('#ModalAlertSuccess').find('input').removeAttr('data-dismiss');
                    }

                    $('#ModalAlertSuccess').find('.TextTitle').append(title);
                    $('#ModalAlertSuccess').find('.TextDetail').append(mag);
                    $('#buttonsuccess').click();
                    var $dialog = $('#ModalAlertSuccess').find(".modal-dialog");
                    var offset = (($(window).height() - $dialog.height()) / 2 - $dialog.height() / 2);
                    if ($dialog.height() < 0) {
                        offset = $(window).height() / 2 - 200;
                    }

                    offset = $(window).height() / 2 - 200;
                    $('#ModalAlertSuccess').find('.modal-dialog').css('margin-top', offset);
                }
                function alertFailTitle(title, mag) {
                    $('#ModalAlertFail').find('.TextTitle').text(title);
                    $('#ModalAlertFail').find('.TextDetail').append(mag);
                    $('#ModalAlertFail').find('input').attr('data-dismiss', 'modal');
                    $('#buttonfail').click();
                    var $dialog = $('#ModalAlertFail').find(".modal-dialog");
                    var offset = (($(window).height() - $dialog.height()) / 2 - $dialog.height() / 2);
                    if ($dialog.height() < 0) {
                        offset = $(window).height() / 2 - 200;
                    }

                    offset = $(window).height() / 2 - 200;
                    $('#ModalAlertFail').find('.modal-dialog').css('margin-top', offset);
                }
                function alertFail(mag) {
                    $('#ModalAlertFail').find('.TextDetail').append(mag);
                    $('#ModalAlertFail').find('input').attr('data-dismiss', 'modal');
                    $('#buttonfail').click();
                    var $dialog = $('#ModalAlertFail').find(".modal-dialog");
                    var offset = (($(window).height() - $dialog.height()) / 2 - $dialog.height() / 2);
                    if ($dialog.height() < 0) {
                        offset = $(window).height() / 2 - 200;
                    }

                    offset = $(window).height() / 2 - 200;
                    $('#ModalAlertFail').find('.modal-dialog').css('margin-top', offset);
                }

                function getAgeCard(dateString) {
                    if (dateString) {
                        var dateTo = dateString.split("/");
                        var dob = new Date(dateTo[2], dateTo[1] - 1, dateTo[0]);
                        var dateFrom = new Date();
                        return getAges(dob, dateFrom);
                    }

                }

                function getAge(dateString) {
                    if (dateString) {
                        var dateTo = dateString.split("/");
                        var dob = new Date(dateTo[2], dateTo[1] - 1, dateTo[0]);
                        var dateFrom = new Date();
                        return getAges(dateFrom, dob);
                    }
                }

                function getAges(dateFrom, dateTo) {
                    var now = dateFrom;
                    var today = new Date(now.getYear(), now.getMonth(), now.getDate());

                    var yearNow = now.getYear();
                    var monthNow = now.getMonth();
                    var dateNow = now.getDate();

                    var dob = dateTo;

                    var yearDob = dob.getYear();
                    var monthDob = dob.getMonth();
                    var dateDob = dob.getDate();
                    var age = {};
                    var ageString = "";
                    var yearString = "";
                    var monthString = "";
                    var dayString = "";


                    yearAge = yearNow - yearDob;

                    if (monthNow >= monthDob)
                        var monthAge = monthNow - monthDob;
                    else {
                        yearAge--;
                        var monthAge = 12 + monthNow - monthDob;
                    }

                    if (dateNow >= dateDob)
                        var dateAge = dateNow - dateDob;
                    else {
                        monthAge--;
                        var dateAge = 31 + dateNow - dateDob;

                        if (monthAge < 0) {
                            monthAge = 11;
                            yearAge--;
                        }
                    }

                    age = {
                        years: yearAge,
                        months: monthAge,
                        days: dateAge
                    };
                    yearString = " ปี";
                    monthString = " เดือน";

                    if (age.years < 0 || age.months < 0 || age.days < 0) {
                        ageString = "หมดอายุ";
                    }
                    else {
                        ageString = age.years + yearString + " " + age.months + monthString + " " + age.days + " วัน";
                    }
                    return ageString;
                }
            </script>
        </form>

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; 2018 <a href="http://www.pttplc.com" target="_blank">PTT</a>.</strong> All rights reserved.
        </footer>
    </div>

    <script>
        //$('#dgvData').DataTable({
        //    responsive: true
        //});

        //$('#dgvData').DataTable({
        //    buttons: [
        //        'copy', 'excel', 'pdf'
        //    ]
        //});

        $(function () {
            ////$("#dgvData").DataTable();
            //$('#dgvData').DataTable({
            //    responsive: true
            //    //"paging": true,
            //    //"lengthChange": false,
            //    //"searching": false,
            //    //"ordering": true,
            //    //"info": true,
            //    //"autoWidth": false
            //});

            //Initialize Select2 Elements
            
          });
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</body>
</html>