﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Index.aspx.cs" Inherits="PCLS.WebPC.Index" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>sssss</title>
</head>
<body>
    <form id="form1" runat="server">
        
    </form>
</body>
</html>